body {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.inline {
	display: inline-block;
}

.bld {
	font-weight: bold;
}
#addQuote {
	height: 68px;
}